body {
  margin: 0;
  width: 100%;
  font-family: courier;
}

header {
  height: 60px;
  margin: 0;
  background: linear-gradient(to bottom, #555, #666, #555);
  box-shadow: 0 5 20px #000;
}

.logo img {
  width: auto;
  height: 50px;
  padding-top: 5px;
  padding-left: 10px;
  float: left;
}

.nav {
  float: right;
  color: white;
  padding-top: 0;
  padding-bottom: 10px;
}

.nav ul {
  margin-top: 0px;
  margin-right: 7px;
}

.nav ul a {
  text-decoration: none;
  color: black;
  font-size: 20;
}

.nav ul a li {
  list-style: none;
  display: inline-block;
  float: left;
  padding-right: 15px;
  background-color: white;
  padding: 10px 20px;
  margin: 8px 3px 0px 0px;
}
.nav ul a li:hover {
  background: linear-gradient(to bottom, #eee, #efefef, #eee);
}

#action {
  background: magenta;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#action .left {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: pink;
  margin-right: 20px;
  transition: 0.5s ease-out;
}
#action .left:hover {
  background: yellow;
}
#action .right {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: pink;
  margin-left: 20px;
  transition: 0.5s ease-out;
}
#action .right:hover {
  background: yellow;
}

#about {
  background: cyan;
  width: 100%;
  height: 100vh;
}
